<div id="hero">
    <div id="hero-splash">
        <p class="lead">
            W Maziaj czasem musisz opisać jakiś rysunek, a czasem narysować coś do podanego opisu. Osoba rysująca widzi tylko ostatni opis, a opisująca tylko ostatni rysunek.
        </p>
        <p>
            Takie kalambury, w których wszyscy odpowiadają źle i tworzy się z tych rysunków i opisów coraz większy sznur niejasności. I to nic nie szkodzi. Tak jest śmieszniej. Jak nadal nie łapiesz zasad, po prostu zagraj. To na serio proste.
        </p>
        <a href="http://maziaj.pl/" class="btn btn-lg btn-primary" style="margin-bottom: 5px;">Graj!</a><br>
        <a href="#/historyjki" class="btn btn-md btn-info">Przeglądaj historyjki</a>
    </div>
</div>
