<section id="gameplay">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-header" style="margin-top: 0;">
                    Narysuj...
                    <small>Mariuszek na dziewiąte urodziny spodziewał się wszystkiego, ale nie tortu owiniętego pończochą.</small>
                </h1>
                <div pw-canvas options="{width: 500, height: 300, color: '#000'}"></div>
            </div>
        </div>
    </div>
</section>
