<section id="profile" data-ng-controller="StoryDetailsController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="profile-face"></div>
                <h1 class="text-center section-header" style="margin-top: 0;">
                    <small>Siemanko</small>
                    Mietek Szcześniak
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#/moj-profil/historyjki">Moje historyjki</a></li>
          <li role="presentation"><a href="#/moj-profil/polubione">Polubione historyjki</a></li>
        </ul>
    </div>
</section>
