body {
  font-family: 'Lato', sans-serif;
  background: #fff url("../img/bg-top.jpg") repeat-x 0 0;
}
h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
}
h1.section-header,
h2.section-header,
h3.section-header {
  padding: 20px 0;
}
h1.section-header small,
h2.section-header small,
h3.section-header small {
  display: block;
}
.nav-pills {
  text-align: center;
}
.nav-pills li {
  display: inline-block;
  float: none;
}
.nav-pills li a {
  text-transform: uppercase;
  font-weight: 400;
  border: 2px solid transparent;
}
.nav-pills li a:hover {
  background: transparent;
  border-color: #1982b6;
}
.nav-pills li.active a {
  background: #a31b20;
  border-color: #a31b20;
  font-weight: 300;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background: #771417;
  border-color: #771417;
}
header {
  width: 100%;
  padding: 25px 0;
  background: rgba(0, 118, 176, 0.8);
}
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  header nav {
    justify-content: space-between;
    padding: 0 50px;
  }
}
header nav a {
  display: inline-block;
  min-width: 80px;
  height: 50px;
  margin: 0 8px;
  color: #fff;
  font-weight: 900;
  font-size: 13px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
header nav a:not(.logotype) {
  padding-top: 10px;
}
@media (min-width: 768px) {
  header nav a:not(.logotype) {
    padding-top: 5px;
  }
}
header nav a:not(.logotype) svg {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 10px;
  -webkit-transition: stroke-dashoffset 0.3s ease-in-out;
  transition: stroke-dashoffset 0.3s ease-in-out;
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  fill: none;
  stroke: #e8e2dc;
  stroke-width: 35px;
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
}
header nav a:not(.logotype):active,
header nav a:not(.logotype):focus {
  text-decoration: none;
  color: #fff;
}
header nav a:not(.logotype):active small,
header nav a:not(.logotype):focus small {
  color: rgba(255, 255, 255, 0.5);
}
header nav a:not(.logotype):hover,
header nav a:not(.logotype).current {
  text-decoration: none;
}
header nav a:not(.logotype):hover svg,
header nav a:not(.logotype).current svg {
  stroke-dashoffset: 0px;
}
header nav a:not(.logotype):hover span,
header nav a:not(.logotype).current span {
  color: #fff;
}
header nav a:not(.logotype):hover small,
header nav a:not(.logotype).current small {
  color: #fff;
}
@media (min-width: 768px) {
  header nav a {
    font-size: 16px;
    line-height: 12px;
    margin: 0 15px;
  }
}
header nav a span {
  padding: 3px 6px;
}
header nav a small {
  display: block;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  padding: 3px 6px;
}
header nav a.logotype {
  background: transparent url('../img/logo_compact_light.png') no-repeat center center;
  background-size: contain;
  width: 80px;
  margin: 0;
}
@media (min-width: 768px) {
  header nav a.logotype {
    background: transparent url('../img/logo_light.png') no-repeat center center;
    background-size: contain;
    width: 150px;
    margin: 0 15px;
  }
}
#hero {
  width: 100%;
  background: rgba(0, 118, 176, 0.6);
}
#hero #hero-splash {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  #hero #hero-splash {
    width: 75%;
  }
}
@media (min-width: 992px) {
  #hero #hero-splash {
    width: 60%;
  }
}
#hero #hero-splash p {
  color: #fff;
}
#hero #hero-splash img {
  margin-bottom: 20px;
}
#authentication {
  display: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-top: 2px solid rgba(0, 118, 176, 0.6);
  border-bottom: 1px solid #ddd;
}
#authentication .greetings-box {
  padding-top: 10px;
  color: #777;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  #authentication .greetings-box {
    min-width: 365px;
  }
}
#authentication .greetings-box .invitation {
  color: #777;
}
#authentication .greetings-box .invitation:hover,
#authentication .greetings-box .invitation:focus,
#authentication .greetings-box .invitation:active {
  text-decoration: none;
}
#authentication .greetings-box .invitation .greetings {
  display: inline-block;
  padding-top: 11px;
}
@media (min-width: 768px) {
  #authentication .greetings-box .invitation .greetings {
    padding-top: 4px;
  }
}
#authentication .greetings-box .invitation .greetings-face {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
  background: #ddd url("../img/logo_compact_light.png") no-repeat center center;
  background-size: cover;
}
#authentication .greetings-box .invitation .greetings-username {
  color: #333;
}
#authentication .greetings-box .invitation small {
  color: #aaa;
  font-weight: 400;
  display: block;
  word-wrap: normal;
  font-size: 12px;
}
#authentication .auth-providers {
  padding: 10px 0 8px 0;
}
#authentication .auth-providers .auth-label {
  color: #aaa;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 5px;
}
#authentication .auth-providers .auth-btn {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0 2px;
  border: 0 none;
  font-size: 16px;
  line-height: 32px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
#authentication .auth-providers .auth-btn i {
  color: #fff;
  position: relative;
}
#authentication .auth-providers .auth-btn:hover {
  cursor: pointer;
}
#authentication .auth-providers .auth-btn.facebook {
  background: #3b5998;
}
#authentication .auth-providers .auth-btn.facebook i {
  left: -1px;
}
#authentication .auth-providers .auth-btn.facebook:hover {
  background: #2d4373;
}
#authentication .auth-providers .auth-btn.twitter {
  background: #55acee;
}
#authentication .auth-providers .auth-btn.twitter:hover {
  background: #2795e9;
}
#authentication .auth-providers .auth-btn.logout {
  background: #db0011;
}
#authentication .auth-providers .auth-btn.logout i {
  top: -1px;
}
#authentication .auth-providers .auth-btn.logout:hover {
  background: #a8000d;
}
footer {
  width: 100%;
  background: #fff url("../img/bg-bottom.jpg") repeat-x left top;
  margin-top: 50px;
  padding: 25px 0;
}
footer img {
  height: 50px;
}
footer p {
  color: #999;
  font-size: 12px;
  padding-top: 10px;
}
.stories-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.stories-grid .story-wrapper {
  width: 97%;
  margin: 0 1.5% 20px 1.5%;
}
@media (min-width: 768px) {
  .stories-grid .story-wrapper {
    width: 47%;
    margin: 0 1.5% 20px 1.5%;
  }
}
@media (min-width: 992px) {
  .stories-grid .story-wrapper {
    width: 30%;
    margin: 0 1.5% 20px 1.5%;
  }
}
.stories-grid.stories-grid-details {
  display: block;
}
.stories-grid.stories-grid-details .story-wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .stories-grid.stories-grid-details .story-wrapper {
    width: 575px;
  }
}
.stories-grid.stories-grid-details .story-wrapper.story-wrapper-gameplay article {
  border: 0 none;
}
.stories-grid.stories-grid-details .story-wrapper.story-wrapper-gameplay article .story {
  border: 0 none;
}
.stories-grid.stories-grid-details .story-wrapper.story-wrapper-gameplay article .story .story-doodle {
  transform: none;
  -webkit-transform: none;
}
.stories-grid.stories-grid-details .story-wrapper .story .story-item {
  width: 90%;
  margin: 0 auto 15px auto;
}
.stories-grid.stories-grid-details .story-wrapper .story .story-item .story-scribble {
  width: 100%;
  margin: 0;
}
.stories-grid.stories-grid-details .story-wrapper .story .story-item .story-doodle {
  width: 100%;
  height: 210px;
  margin: 0;
}
@media (min-width: 768px) {
  .stories-grid.stories-grid-details .story-wrapper .story .story-item .story-scribble {
    width: 500px;
    margin: 0 auto;
  }
  .stories-grid.stories-grid-details .story-wrapper .story .story-item .story-doodle {
    margin: 0 auto;
    width: 500px;
    height: 300px;
  }
}
article {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  border-top: 2px dashed #ddd;
}
article h3 {
  font-weight: 900;
  margin: 0;
  padding: 20px 10px;
  color: #1982b6;
}
article h3 small {
  color: #999;
  display: block;
  font-weight: 900;
  font-size: 55%;
  float: left;
}
article h3 small span {
  color: #a31b20;
}
article h3 small.likes {
  color: #a31b20;
  float: right;
  position: relative;
  top: 7px;
  width: 40%;
  text-align: right;
}
article h3 small.likes .fa-heart {
  margin-left: 1px;
}
article h3 small.likes .like-it {
  opacity: 0;
}
article h3 small.likes:hover {
  cursor: pointer;
}
article h3 small.likes:hover .count {
  color: #999;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
article h3 small.likes:hover .like-it {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
article h3 small.likes .like-action {
  color: #aaa;
}
article h3 small.likes.liked {
  cursor: default;
}
article h3 small.likes.liked .like-action {
  display: none;
}
article h3 small.likes.liked:hover .count {
  color: #a31b20;
}
article h3 small.likes.liked:hover .like-it {
  opacity: 0;
}
article h3 small.likes.static {
  color: #aaa;
  width: auto;
}
article h3 small.likes.static:hover {
  cursor: default;
}
article h3.affix {
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 20px;
}
article h3.affix small {
  color: #eee;
}
article h3.affix small span {
  color: #e0444a;
}
article h3.affix small.likes {
  color: #e0444a;
}
article h3.affix small.likes:hover .count {
  color: #666;
}
article h3.affix small.likes .like-action {
  color: #666;
}
article h3.affix small.likes.liked:hover .count {
  color: #e0444a;
}
article .story-footer {
  padding: 15px;
  text-align: center;
  background: #e8e2dc;
}
article .story-footer .story-more {
  border-bottom: 2px dashed #ccc;
  line-height: 0;
  margin: 10px 0 20px 0;
}
article .story-footer .story-more span {
  background: #e8e2dc;
  color: #aaa;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 7px;
}
article .story-footer .fb-share-button {
  margin-top: 10px;
}
article .story-footer .story-buttons {
  display: flex;
  justify-content: space-around;
}
article .story-footer .story-buttons .story-btn {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 5px;
  background: #111;
  color: #fff;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
article .story-footer .story-buttons .story-btn:hover {
  background: #373737;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
article .story-footer .story-buttons .story-btn:active,
article .story-footer .story-buttons .story-btn:focus {
  text-decoration: none;
}
article .story-footer .story-buttons .story-btn i {
  margin-right: 3px;
}
article .story-footer .story-buttons .story-btn.story-btn-full {
  background: #a31b20;
}
article .story-footer .story-buttons .story-btn.story-btn-full:hover {
  background: #dc2e35;
}
article .story-footer .story-buttons .story-btn.story-btn-back {
  background: #1982b6;
}
article .story-footer .story-buttons .story-btn.story-btn-back:hover {
  background: #38abe4;
}
article .story {
  padding: 15px;
  position: relative;
  background: transparent;
  border-top: 4px solid #1982b6;
}
article .story .story-item {
  position: relative;
  min-height: 100px;
  background: #eee;
  border: 1px dashed #aaa;
  margin-bottom: 15px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
article .story .story-item.loaded {
  background: transparent;
  border: 1px solid transparent;
  min-height: auto;
}
article .story .story-item .order,
article .story .story-item .author {
  cursor: default;
  position: absolute;
  z-index: 5;
  bottom: -5px;
  right: -15px;
  background: #111;
  color: #aaa;
  font-weight: 900;
  padding: 5px;
  font-size: 11px;
  min-width: 20px;
  text-align: right;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  border-radius: 3px;
}
article .story .story-item .order span,
article .story .story-item .author span {
  color: #fff;
}
article .story .story-item .order.author,
article .story .story-item .author.author {
  background: #1982b6;
  color: #fff;
  right: auto;
  left: 10px;
}
article .story .story-item .order.author span,
article .story .story-item .author.author span {
  color: rgba(0, 0, 0, 0.6);
}
article .story .story-item .spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -27px;
}
article .story .story-item .spinner .loading-label {
  width: 100px;
  font-weight: 900;
  color: #1982b6;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: -1px;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -50px;
}
article .story .story-item .spinner .double-bounce1,
article .story .story-item .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1982b6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
article .story .story-item .spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
article .story .story-doodle {
  width: 100%;
  height: 190px;
  background-color: #fff;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
article .story .story-scribble {
  background: #fff url("../img/paper.png") repeat-x 0 0;
  border: 1px solid #ddd;
  text-transform: uppercase;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
article .story .story-scribble textarea {
  background: transparent none;
  border: 0 none;
  width: 100%;
  min-height: 120px;
  resize: vertical;
  font-size: 19px;
  font-weight: 900;
}
article .story .story-scribble textarea:active,
article .story .story-scribble textarea:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#profile .profile-face {
  display: block;
  margin: 25px auto 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 4px solid #ccc;
  background: #1982b6 url("../img/logo_compact_light.png") no-repeat center center;
  background-size: cover;
}
#gameplay .pwColorSelector {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20px;
  text-align: center;
}
#gameplay .pwColorSelector .pwColor {
  display: inline-block;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
#gameplay .pwColorSelector .pwColor.active {
  border-radius: 100%;
}
#gameplay .editor-tools {
  padding: 5px 10px;
  width: 500px;
}
#gameplay .editor-tools .editor-tool {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 0 10px;
}
#gameplay .editor-tools .editor-tool:hover {
  cursor: pointer;
}
#gameplay .editor-tools .editor-tool .tool-value {
  display: block;
}
#gameplay .editor-tools .editor-tool .tool-label {
  display: block;
  color: #999;
  font-size: 11px;
}
#gameplay .editor-tools .editor-tool.tool-undo {
  padding-top: 12px;
}
