// main: ../maziaj.less
@import "vars.less";

footer {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    margin-top: 50px;
    padding: 25px 0;

    img {
        height: 50px;
    }

    p {
        color: #999;
        font-size: 12px;
        padding-top: 10px;
    }
}
